/* custom font icons */
@import "font-icons/style.css";

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.result {
  width: 186px;
  height: 250px;
}

.resultImage {
  cursor: pointer;
}